@import "tailwindcss";

@theme {
  --color-topBG: hsl(225, 100%, 98%);
  --color-BG: hsl(0, 100%, 100%);
  --color-cardBG: hsl(227, 47%, 96%);
  --color-firstText: hsl(228, 12%, 44%);
  --color-secText: hsl(230, 17%, 14%);
  --color-toggle: linear-gradient(
    to right,
    hsl(230, 22%, 74%),
    hsl(230, 22%, 74%)
  );
  --color-Instagram: linear-gradient(
    to right,
    hsl(37, 97%, 70%),
    hsl(5, 77%, 71%),
    hsl(329, 70%, 58%)
  );
  --color-Green500: hsl(163, 72%, 41%);
  --color-Red500: hsl(356, 69%, 56%);
  --color-Facebook: hsl(208, 92%, 53%);
  --color-Twitter: hsl(203, 89%, 53%);
  --color-YouTube: hsl(348, 97%, 39%);
  --color-cardHoverBg: hsl(231, 30%, 91%);
}

.dark {
  --color-topBG: hsl(232, 19%, 15%);
  --color-BG: hsl(230, 17%, 14%);
  --color-cardBG: hsl(228, 28%, 20%);
  --color-firstText: hsl(230, 22%, 74%);
  --color-secText: hsl(0, 100%, 100%);
  --color-toggle: linear-gradient(
    to right,
    hsl(210, 79%, 56%),
    hsl(146, 68%, 55%)
  );
  --color-cardHoverBg: hsl(229, 24%, 27%);
}
